# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
build/
dist/
site/
*.egg-info/
.eggs/
.venv/
venv/
env/
ENV/

# JetBrains
.idea/
*.iml
out/
